/* Общий стиль */
body {
  font-family: sans-serif;
}


/* Заголовок */
header {
  background-color: #072c4d; /* Цвет фона заголовка */
  padding: 20px 0; /* Отступы */
}


/* Контейнер для логотипа и поисковой формы */
.container {
  display: flex; /* Размещение элементов в ряд */
  justify-content: space-between; /* Размещение элементов с равным пространством */
  align-items: center; /* Выравнивание по вертикали */
  max-width: 1200px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Автоматическое центрирование */
}

/* Логотип */
.logo {
  max-width: 150px; /* Максимальная ширина логотипа */
  height: auto; /* Автоматическая высота */
}

/* Поисковая форма */
.search-form {
  display: flex;
  width: 100%; /* Занимает всю ширину */
}

/* Поле ввода */
.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; /*  Увеличиваем радиус скругления углов */
  width: calc(100% - 60px); /*  Занимает всю ширину, за исключением кнопки */
}


/* Кнопка поиска */
.search-button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px; /*  Увеличиваем радиус скругления углов */
  cursor: pointer;
  width: 60px; /*  Ширина кнопки */
}


/* Иконка поиска */
.search-button i {
  font-size: 1.2em; /* Размер иконки */
}



nav {
  background-color: #000003; /* Цвет фона панели */
  color: #fff; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
}

ul {
  padding: 0;
  list-style: none; /* Убираем маркеры списка */
}

li {
  display: inline; /* Элементы списка располагаются в строку */
  margin: 0 10px; /* Отступы между элементами */
}

a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
  color: #fff; /* Цвет текста ссылок */
}


nav h3 {
    color: #2ECC71;
    font-size: 28px;
}
nav ul {list-style: none}
nav ul a {
    color: #eb5959;
}
nav .search-box {
    margin-left: auto;
    margin-right: 200px;
}
nav ul .search-box input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
}

nav ul .search-box button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

nav ul li:hover, nav ul a:hover{
    color:#46BB;
}


main .features{
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  text-align: center
}
